# Ignore Visual Studio temporary files, build results, and
# folder-based project files.
.vs/
*.vscode
*.user
*.suo
*.dbmdl
*.opendb
*.bak
*.obj
*.dll
*.exe
*.pdb
*.log
*.csv
*.tmp
*.cache
ECommerceProject/.vs/